{% assign contact_link = "mailto:" | append: site.contact_email %}

<!-- <div class="search-widget">
  <input type="search" id="siteSearchInput" placeholder="Type to search…">
</div> -->

{% include nav-page-link.html htmlclass="about" url="/about/" title="About" active_for_nested=true %}

{% include nav-page-link.html htmlclass="blog" url="/blog/" title="Blog" active_for_nested=true %}

{% include nav-page-link.html htmlclass="membership" url="/membership/" title="Membership" active_for_nested=true %}

{% include project-nav.html %}

<!-- <a href="javascript: void 0;" class="search" aria-label="site search button"><i class="fas fa-search"></i></a> -->

{% include nav-page-link.html htmlclass="references" url="/references/" title="References" active_for_nested=true %}

<!-- {% include nav-page-link.html htmlclass="shop" url="https://express-language-foundation-2.creator-spring.com" title="Shop@Spring" active_for_nested=true %} -->
